.footer {
  text-align: center;
  background-color:grey;
  padding: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
}

.footer a:hover {
  color: #f00; /* Change to your desired hover color */
  transform: scale(1.1); /* Scale up the element on hover */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.social-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.phone-icon {
  margin-right: 5px;
}

.phone-number {
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
